@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px 1px var(--tw-shadow-color);
}

body {
  @apply bg-gray-700;
}

@keyframes progressBar {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
